<style>
    table#locations_table {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: default;
    }

    table td {
        height: 51px;
    }

    .col_capacity {
        width: 50px;
    }

    .col_display_name {
        width: 200px;
    }

    .col_day_quantity {
        width: 100px;
    }

    .well, .btn-group, .table {
      margin-bottom: 0;
      margin-top: 8px;
    }
</style>

<div class="well">
    <p style="margin-left: 0px;" id="form_warning" class="text-warning">&nbsp;</p>
    <p style="margin-left: 0px;" id="form_error" class="text-danger">&nbsp;</p>
</div>
<div class="btn-group">
  <button id="refresh_button" type="button" title="Refresh from server." class="btn btn-default" aria-label="Left Align">
    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
  </button>
  <button id="save_button" type="button" title="Save to server." class="btn btn-default" aria-label="Right Align">
    <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
  </button>
</div>
<table id="locations_table" class="table table-striped table-bordered">
    <thead>
        <tr>
          <% if (admin === true) { %>
            <th class="col_capacity">Capacity</th>
          <% } %>
            <th class="col_display_name">Name</th>
        <% daysModel.each(function(day) {
          if (day.get("day_num") != 0) { 
            var field_name = "day_quantity_"+day.get("date"); %>
            <th class="col_day_quantity" data-field="<%-field_name%>"><%-day.get("day_name")%><br /><span style="font-weight: normal;"><%-day.get("date")%></span></th>
        <% } else { %>
            <th class="warning" style="font-weight: normal;">
                <em><%-day.get("day_name")%><br /><br /></em>
            </th>
        <% }}); %>
        </tr>
    </thead>
    <tbody>
      <% locationsModel.each(function(location) { %>
        <tr class="data_row" data-location-id="<%-location.get("id")%>">
          <% if (admin === true) { %>
            <td class="field field_capacity" data-field="capacity"><%-location.get("capacity")%></td>
          <% } %>
            <td class="field field_display_name" data-field="display_name"><%-location.get("display_name")%></td>
          <% daysModel.each(function(day, i) {
            if (day.get("day_num") != 0) {
              var date=day.get("date"),
                  field_name = "day_quantity_"+date,
                  quant_rec = _.find(location.get("day_quantities"),
                                      function(day_quantity) { return day_quantity.date == date });

              %>
            <td class="field field_day_quantity" data-field="<%-field_name%>"><%-quant_rec && quant_rec.amount || 0%></td>
          <% } else { %>
            <td class="warning"></td>
          <% }}); %>
        </tr>
      <% }); %>
    </tbody>
</table>