<% if (home === true) { %>
    <button id="home_button" type="button" title="Go to Home." class="btn btn-default" aria-label="Left Align">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
    </button>
<% } %>
<% if (refresh === true) { %>
    <button id="refresh_button" type="button" title="Refresh from server." class="btn btn-default" aria-label="Left Align">
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
    </button>
<% } %>
<% if (locations === true) { %>
    <button id="locations_button" type="button" title="See all Locations data." class="btn btn-default" aria-label="Left Align">
        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
    </button>
<% } %>
<% if (edit === true) { %>
    <button id="edit_button" type="button" title="Edit data." class="btn btn-default" aria-label="Left Align">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    </button>
<% } %>
<% if (save === true) { %>
    <button id="save_button" type="button" title="Save to server." class="btn btn-default" aria-label="Right Align">
        <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
    </button>
<% } %>
<% if (help === true) { %>
    <button id="help_button" type="button" title="Page help." class="btn btn-default" aria-label="Right Align">
        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
    </button>
<% } %>
<% if (logout === true) { %>
    <button id="logout_button" type="button" title="Logout." class="btn btn-default" aria-label="Right Align">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </button>
<% } %>